body {
    background-image: url("../images/email-pattern.png"); 
}

.container {
    max-width: 860px;
    border: 1px solid lightgray;
    background-color: white;
    
}

.textarea-border {
    border: 2px dashed gray;
}

.text-lg {
    font-size: 2em;
}